DATABASE_URL="postgresql_url"

# email notifications
NOTIFICATIONS_EMAIL_PROVIDER="smtp"
NOTIFICATIONS_EMAIL_FROM="no-reply@your-domain.com"
NOTIFICATIONS_SMTP_HOST="smtp.your-domain.com"
NOTIFICATIONS_SMTP_PORT="587"
NOTIFICATIONS_SMTP_SECURE="false"
NOTIFICATIONS_SMTP_USER="smtp-user"
NOTIFICATIONS_SMTP_PASS="smtp-password"
